<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Files API documentation</title>
    <script src="/index.js"></script>
</head>

<body>
    <h1 id="top">Available Routes</h1>
    <h2><a href="/all">View All Sightings</a></h2>
    <h2><a href="#filterstate">Filter by State</a></h2>
    <h2><a href="#filtercity">Filter by City</a></h2>
    <h2><a href="#filterdate">Filter by Date</a></h2>
    <h2><a href="#filtershape">Filter by Shape</a></h2>
    <hr>
    <h3>Filter by Combination of any</h3>
    <form>
        <label for="state">State</label>
        <select id="state" name="state">
            <option value=""></option>
            <%allStates.forEach((state) => {%>
                <option value="<%=state%>"><%=state%></option>
            <%});%>
        </select>
        <label for="city">City</label>
        <select id="city" name="city">
            <option value=""></option>
            <%allCities.forEach((city) => {%>
                <option value="<%=city%>"><%=city%></option>
            <%});%>
        </select>
        <label for="date">Date</label>
        <select id="date" name="date">
            <%allDates.forEach((date) => {%>
                <option value="<%=date%>"><%=date%></option>
            <%});%>
        </select>
        <label for="shape">Shape</label>
        <select id="shape" name="shape">
            <option value=""></option>
            <%allShapes.forEach((shape) => {%>
                <option value="<%=shape%>"><%=shape%></option>
            <%});%>
        </select>
        <a href="#0"><button onclick="setFilterURL()">Go</button></a>
    </form>
    <hr>
    <h3 id="filterstate">Filter by State</h3> <span><a href="#top">Back to Top</a></span>
    <ul>
        <%allStates.forEach((state) => {%>
        <li><a href="/filter?state=<%=state%>&city=&date=&shape="><%=state%></a></li>
        <%});%>
    </ul>
    <h3 id="filtercity">Filter by City</h3> <span><a href="#top">Back to Top</a></span>
    <ul>
        <%allCities.forEach((city) => {%>
        <li><a href="/filter?state=&city=<%=city%>&date=&shape="><%=city%></a></li>
        <%});%>
    </ul>
    <h3 id="filterdate">Filter by Date</h3> <span><a href="#top">Back to Top</a></span>
    <ul>
        <%allDates.forEach((date) => {%>
        <li><a href="/filter?state=&city=&date=<%=date%>&shape="><%=date.split('/').join('-')%></a></li>
        <%});%>
    </ul>
    <h3 id="filtershape">Filter by Shape</h3> <span><a href="#top">Back to Top</a></span>
    <ul>
        <%allShapes.forEach((shape) => {%>
        <li><a href="filter?state=&city=&date=&shape=<%=shape%>"><%=shape%></a></li>
        <%});%>
    </ul>
</body>

</html>