<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1><%=title%></h1>
    <%allSightings.forEach((sgt,idx) => {%>
        <hr/>
        <h4>Date: <%=sgt.date%></h4>
        <h4>City: <%=sgt.city%></h4>
        <h4>State: <%=sgt.state%></h4>
        <h4>Shape: <%=sgt.shape%></h4>
        <h4>Duration: <%=sgt.duration%></h4>
        <h4>Description: </h4>
        <p><%=sgt.description%></p>
    <%});%>
    
</body>
</html>